.body{
    width: 5452px;
    height: 2530px;
    background: linear-gradient(243.28deg, rgba(255, 199, 0, 0.162) 20.18%, rgba(235, 13, 213, 0.2) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF), #000000;
}

.homePageTitle {
    position: absolute;
    width: 2279px;
    height: 225px;
    left: 1576px;
    top: 240px;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 225px;
    text-align: center;
    color: #000000;
}

.homePageText {
    position: absolute;
    width: 1417px;
    height: 356px;
    left: 2000px;
    top: 991px;
    
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    font-size: 130px;
    line-height: 124px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.button_vamos{
  
    /* button_vamos */

    position: absolute;
    width: 506px;
    height: 142px;
    left: 2438px;
    top: 1463px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 132px;
    text-align: center;

    color: #000000;

}